/****************************************************/
/* vars */

$text-m: 14px;
$text-l: 16px;
$text-fa-m: 14px;
$text-fa-l: 16px;
$text-fa-xl: 18px;

$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);

$lightgray: #EEEEEE;
$gray: #E5E5E5;
$darkgray: #CCCCCC;


/****************************************************/
/* re-usable */

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin pseudo($absolute: false) {
    display: block;
    content: '';

    @if ($absolute) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@mixin loading($opacity: 0.9) {
    @include pseudo(true);
    z-index: 9; // arbitrary
    background: rgba(255,255,255,$opacity) url(../images/loading.gif) center no-repeat;
}

%border-box {
    color: inherit;
}


/****************************************************/
/* reset wordpress styles */

#layotter h1,
#layotter h2,
#layotter h3,
#layotter h4,
#layotter h5,
#layotter h6,
#layotter-templates h1,
#layotter-templates h2,
#layotter-templates h3,
#layotter-templates h4,
#layotter-templates h5,
#layotter-templates h6,
.layotter-modal h1,
.layotter-modal h2,
.layotter-modal h3,
.layotter-modal h4,
.layotter-modal h5,
.layotter-modal h6 {
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 0.4em;
    font-weight: bold;
    cursor: auto;
    color: #444;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-size: $text-l;
}

.layotter-modal p,
.layotter-modal-confirm p {
    margin: 0 0 0.4em;
}

#layotter p:last-child,
.layotter-modal p:last-child,
.layotter-modal-confirm p:last-child {
    margin-bottom: 0;
}


/****************************************************/
/* drag and drop */

.layotter-placeholder {
    background: #e0e0e0;
    z-index: 2; // on top of "add element" button
    position: relative;
}

#layotter-templates .layotter-placeholder {
    height: 0 !important;
}

.layotter-row.ui-sortable-helper,
.layotter-element.ui-sortable-helper{
    > .layotter-element-canvas {
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1) !important;
    }

    > .layotter-add-row-button-wrapper,
    > .layotter-add-element-button-wrapper {
        display: none !important;
    }
}

.layotter-rows {
    > .layotter-placeholder {
        position: relative;

        &:after {
            @include pseudo(true);
            top: auto;
            height: 10px;
            background-color: #fff;
        }
    }
}

.layotter-col {
    .layotter-placeholder {
        margin: 10px 0;
    }
}


/****************************************************/
/* loading */

#layotter-loading {
    font-size: $text-m;
    padding: 70px 0;
    text-align: center;
    
    span {
        padding: 20px 24px 20px 72px;
        display: inline-block;
        background: $lightgray url(../images/loading.gif) 24px center no-repeat;
        border: 1px solid $darkgray;
        box-shadow: $box-shadow;
    }
}


/****************************************************/
/* wrapper */

#layotter {
    display: none;
    position: relative;

    &.layotter-loading {
        &:after {
            @include loading();
            background-position: center 100px;
        }
    }
}


/****************************************************/
/* basic buttons */

.layotter-button {
    font-size: $text-m;
    box-shadow: $box-shadow;
    background: $lightgray;
    display: inline-block;
    cursor: pointer;
    border: 1px solid $darkgray;
    opacity: 0.7;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;

    &:hover {
        opacity: 1;
    }

    &.layotter-disabled {
        cursor: default;
        opacity: 0.3;
    }

    i.fa {
        margin-right: 10px;
        font-size: $text-fa-l;
    }
}


/****************************************************/
/* top row of buttons */

.layotter-top-buttons {
    overflow: hidden;

    .layotter-button {
        display: block;
        float: left;
        margin-top: 10px;
        margin-bottom: 6px;

        &.layotter-undo,
        &.layotter-redo {
            position: relative;

            i.fa {
                margin-right: 0;
            }
        }

        &.layotter-undo {
            margin-right: 0 !important;
        }

        &.layotter-redo {
            margin-left: -1px;
        }
    }

    .layotter-top-buttons-left {
        float: left;

        .layotter-button {
            margin-right: 10px;
        }

        .layotter-save-layout-button-wrapper {
            display: block;
            float: left;
            margin-right: 10px;
            position: relative;

            &.layotter-loading {
                &:after {
                    @include loading();
                    background-image: url(../images/loading-small.gif);
                }
            }

            .layotter-button {
                margin-right: 0;
            }
        }
    }

    .layotter-top-buttons-right {
        float: right;

        .layotter-button {
            margin-left: 10px;
        }
    }
}

#layotter-top-buttons-2 { // should be postfixed -sticky, but -2 is easier to do with Angular
    position: fixed;
    top: 32px; // admin bar
    background: #fff;
    z-index: 9999;
    right: 0;
    padding: 0 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin-top: -60px;
    transition: margin-top 0.3s;

    .layotter-button {
        margin-bottom: 10px;
    }

    &.layotter-visible {
        margin-top: 0;
    }
}


/****************************************************/
/* add row buttons */

.layotter-add-row-button-wrapper {
    text-align: center;

    .layotter-add-row-button {
        font-size: $text-m;
        padding: 12px 30px;
        opacity: 0.4;
        display: inline-block;
        cursor: pointer;
        transition: padding 0.5s, font-size 0.5s;

        i.fa {
            font-size: $text-fa-m;
            margin-right: 8px;
        }

        &:hover {
            opacity: 0.7;
        }

        &.layotter-large {
            font-size: $text-l;
            padding: 50px;
            opacity: 0.7;

            i.fa {
                font-size: $text-fa-l;
                margin-right: 10px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}


/****************************************************/
/* add element buttons */

.layotter-add-element-button-wrapper {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -5px;
    z-index: 5; // on top of elements and row buttons

    .layotter-add-element-button {
        font-size: $text-m;
        cursor: pointer;
        display: inline-block;
        line-height: 26px;

        i.fa {
            font-size: $text-fa-m;
        }
    }

    &:not(.layotter-always-visible) {
        width: 32px;
        margin-left: auto;
        margin-right: auto;

        .layotter-add-element-button {
            height: 26px;
            width: 26px;
            margin-top: -13px;
            border-radius: 13px;
            border: 1px solid $darkgray;
            background: #fff;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
            color: #aaa;
            opacity: 0;
            transition: opacity 0.5s;
            display: none;

            &:hover {
                color: #222;
            }

            span {
                display: none;
            }
        }
    }

    &.layotter-always-visible {
        margin-top: 17px;
        z-index: 1; // below placeholder

        .layotter-add-element-button {
            opacity: 0.4 !important;
            padding: 0 6px;

            &:hover {
                opacity: 0.7 !important;
            }

            span {
                display: inline-block;
                margin-left: 8px;
            }
        }
    }
}


/****************************************************/
/* rows */

.layotter-row {
    &.layotter-loading .layotter-row-canvas {
        border-color: $lightgray;
        position: relative;

        &:after {
            @include loading();
        }
    }

    .layotter-row-canvas {
        box-shadow: $box-shadow;
        border: 1px solid $darkgray;
        position: relative;

        .layotter-row-move,
        .layotter-row-buttons {
            position: absolute;
            bottom: 100%;
            border: 1px solid $darkgray;
            background-color: $gray;
            font-size: $text-m;
            color: #888;
            height: 30px;
            line-height: 30px;
            opacity: 0;
            transition: opacity 0.5s;
            display: none;
        }

        &:hover {
            .layotter-row-move,
            .layotter-row-buttons {
                opacity: 1;
                display: block;
            }
        }

        .layotter-row-move {
            left: -1px;
            padding: 0 12px;
            cursor: move;

            i.fa {
                font-size: $text-fa-m;
                margin-right: 10px;
            }
        }

        .layotter-row-buttons {
            right: -1px;
            z-index: 4; // on top of elements but below "add element" button

            i.fa {
                font-size: $text-fa-m;
            }

            > span,
            .layotter-row-select-layout {
                text-align: center;
                float: right;
                cursor: pointer;
                border-right: 1px solid $darkgray;
                width: 30px;

                &:hover {
                    background-color: #ddd;
                }

                &:first-child {
                    border: none;
                }
            }

            .layotter-row-select-layout {
                cursor: default;
                position: relative;

                &:hover .layotter-row-select-layout-items {
                    display: block;
                }

                .layotter-row-select-layout-items {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: $lightgray;
                    border: 1px solid $darkgray;
                    padding: 6px;
                    margin-left: -1px;

                    .layotter-row-layout-button {
                        display: block;
                        background-position: 6px 10px;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        opacity: 0.3;
                        color: #000;
                        padding: 6px 6px 6px 52px;
                        text-align: left;
                        line-height: 1.2;
                        white-space: nowrap;
                        width: auto;

                        &:hover,
                        &.layotter-row-layout-button-active {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.layotter-row-layout-button,
.layotter-row-layout-option { // for settings page
    width: 37px;

    &[data-layout="full"] {
        background-image: url(../images/cols/full.png);
    }

    &[data-layout="half half"] {
        background-image: url(../images/cols/halves.png);
    }

    &[data-layout="third third third"] {
        background-image: url(../images/cols/thirds.png);
    }

    &[data-layout="fourth fourth fourth fourth"] {
        background-image: url(../images/cols/fourths.png);
    }

    &[data-layout="sixth sixth sixth sixth sixth sixth"] {
        background-image: url(../images/cols/sixths.png);
    }

    &[data-layout="twelfth twelfth twelfth twelfth twelfth twelfth twelfth twelfth twelfth twelfth twelfth twelfth"] {
        background-image: url(../images/cols/twelfths.png);
    }

    &[data-layout="half fourth fourth"] {
        background-image: url(../images/cols/half-fourth-fourth.png);
    }

    &[data-layout="fourth fourth half"] {
        background-image: url(../images/cols/fourth-fourth-half.png);
    }

    &[data-layout="fourth half fourth"] {
        background-image: url(../images/cols/fourth-half-fourth.png);
    }

    &[data-layout="twothirds third"] {
        background-image: url(../images/cols/twothirds-third.png);
    }

    &[data-layout="third twothirds"] {
        background-image: url(../images/cols/third-twothirds.png);
    }

    &[data-layout="threefourths fourth"] {
        background-image: url(../images/cols/threefourths-fourth.png);
    }

    &[data-layout="fourth threefourths"] {
        background-image: url(../images/cols/fourth-threefourths.png);
    }
}


/****************************************************/
/* columns */

.layotter-cols {
    background: $lightgray;
    display: table;
    width: 100%;
    table-layout: fixed;

    .layotter-col {
        @include border-box;
        border-right: 1px solid $darkgray;
        display: table-cell;
        vertical-align: top;
        padding: 0 10px;
        position: relative;

        &:last-child {
            border-right: none;
        }

        > .layotter-add-element-button-wrapper {
            top: 0;
        }

        &:hover .layotter-add-element-button {
            opacity: 1;
            display: inline-block;
        }

        &.layotter-col-full {
            width: 100%;
        }

        &.layotter-col-half {
            width: 50%;
        }

        &.layotter-col-third {
            width: 33.33333%;
        }

        &.layotter-col-twothirds {
            width: 66.66666%;
        }

        &.layotter-col-fourth {
            width: 25%;
        }

        &.layotter-col-threefourths {
            width: 75%;
        }

        &.layotter-col-sixth {
            width: 16.66666%;
        }

        &.layotter-col-twelfth {
            width: 8.33333%;
        }
    }
}


/****************************************************/
/* elements */

.layotter-elements {
    min-height: 60px;

    .layotter-element {
        position: relative; // for "add element" buttons
        margin: 10px 0;

        &.layotter-loading .layotter-element-canvas {
            position: relative;
            min-height: 80px;

            &:after {
                @include loading();
                z-index: 2;
            }
        }

        // highlight when hovering on a template
        &.layotter-highlight .layotter-element-canvas {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        }

        .layotter-element-canvas {
            box-shadow: $box-shadow;
            background: #fff;
            border: 1px solid #ddd;
            position: relative;

            // invisible overlay used as drag area
            &:before {
                @include pseudo(true);
                opacity: 0;
                cursor: move;
                z-index: 1; // below element buttons
            }

            &:hover .layotter-element-buttons {
                opacity: 1;
                display: block;
            }

            .layotter-element-buttons {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2; // on top of invisible drag area
                border-bottom: 1px solid #ddd;
                background: #fff;
                opacity: 0;
                transition: opacity 0.5s;
                display: none;

                .layotter-element-button,
                .layotter-element-dropdown {
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    float: right;
                    width: 30px;
                    border-left: 1px solid #ddd;
                    cursor: pointer;
                    text-align: center;

                    &:hover {
                        background-color: $lightgray;
                    }
                }

                .layotter-element-dropdown {
                    position: relative;

                    &:hover .layotter-element-dropdown-items {
                        display: block;
                    }

                    .layotter-element-dropdown-items {
                        text-align: left;
                        position: absolute;
                        top: 100%;
                        left: -1px;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        white-space: nowrap;
                        display: none;

                        span {
                            display: block;
                            border-bottom: 1px solid #ddd;
                            padding: 0 10px;

                            &:hover {
                                background-color: $lightgray;
                            }

                            i.fa {
                                font-size: $text-fa-m;
                                display: inline-block;
                                width: 16px;
                                text-align: center;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }

            .layotter-element-message {
                padding: 10px;
                background: rgba(255,255,0,0.2) url(../images/stripes.png);
            }

            .layotter-element-content {
                padding: 10px;
                overflow: hidden;

                p {
                    margin: 0 0 0.4em;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                }

                ul {
                    list-style: disc;
                }

                ol {
                    list-style: decimal;
                }

                ul li,
                ol li {
                    margin-left: 1em;
                }
            }
        }
    }
}


/****************************************************/
/* saved element templates */

#layotter-templates {
    @extend %border-box;
    position: fixed;
    top: 32px; // admin bar
    right: 0;
    bottom: 0;
    width: 300px;
    border-left: 1px solid $darkgray;
    background: #fafafa;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    margin-right: -320px;
    transition: margin-right 0.5s;
    z-index: 10000;

    &.layotter-visible {
        margin-right: 0;
    }

    .layotter-templates-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        i.fa {
            font-size: $text-fa-xl;
        }
    }

    .layotter-templates-head {
        padding: 10px;

        > h3 {
            margin-top: 4px;
        }
    }

    .layotter-elements {
        overflow: auto;
        margin: 0;
        padding: 0 10px;
    }
}


/****************************************************/
/* modals */

.layotter-modal {
    height: 100%;
    position: relative;

    .layotter-modal-head {
        height: 40px;
        padding: 20px;
        background: $gray;
        overflow: hidden;
        border-bottom: 1px solid $darkgray;
        position: relative;
        
        .layotter-modal-head-icon {
            position: absolute;
            top: 28px;
            left: 20px;
            bottom: 20px;
            width: 30px;
            font-size: 24px;
            text-align: center;
        }

        .layotter-modal-head-info {
            margin-left: 42px;
        }

        h2 {
            font-size: 26px;
            line-height: 40px;
            margin: 0;
        }
    }

    .layotter-modal-body {
        overflow-y: auto;
        position: absolute;
        top: 81px;
        bottom: 71px;
        left: 0;
        right: 0;
    }

    .layotter-modal-loading-container {
        position: absolute;
        top: 81px;
        bottom: 71px;
        left: 0;
        right: 0;
        z-index: -1;

        &.layotter-loading {
            z-index: 1;

            &:after {
                @include loading();
            }
        }
    }

    .layotter-modal-foot {
        height: 30px;
        padding: 20px;
        background: $gray;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid $darkgray;
    }
}


/****************************************************/
/* modal: confirm */

.layotter-modal-confirm {
    position: relative;
    height: 100%;

    .layotter-modal-confirm-message {
        padding: 20px;
        font-size: $text-m;
    }

    .layotter-modal-confirm-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background: $lightgray;
    }
}


/****************************************************/
/* modal: prompt */

.layotter-modal-prompt {
    position: relative;
    height: 100%;

    .layotter-modal-prompt-message {
        padding: 20px;
        font-size: $text-m;
    }

    .layotter-modal-prompt-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background: $lightgray;
    }

    input {
        box-sizing: border-box;
        width: 90%;
        margin: 8px 0 0;
    }
}


/****************************************************/
/* modal: add element */

.layotter-modal-add-element {
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
    
    h3 {
        cursor: pointer;
        margin: 0 0 8px;
        font-size: 18px;
        font-weight: 600;
    }

    &:hover {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%, #f8f8f8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    }

    .layotter-modal-add-element-icon {
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        width: 30px;
        font-size: 24px;
        text-align: center;
    }

    .layotter-modal-add-element-info {
        margin-left: 42px;
    }
}


/****************************************************/
/* modal: load post layout */

.layotter-modal-load-layout-wrapper {
    border-bottom: 1px solid #ddd;

    &.layotter-loading {
        position: relative;

        &:after {
            @include loading(0.8);
        }
    }

    .layotter-modal-load-layout {
        cursor: pointer;
        padding: 20px;

        &:hover {
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%, #f8f8f8 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%,#f8f8f8 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
        }

        .layotter-modal-load-layout-header {
            display: block;
            margin-bottom: 8px;

            h3 {
                cursor: pointer;
                margin: 0 10px 0 0;
                font-size: 18px;
                font-weight: 600;
                display: inline-block;
            }

            span {
                display: inline-block;
                cursor: pointer;
                height: 16px;
                width: 18px;
                line-height: 20px;
                text-align: center;
                background: #fff;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }

                i.fa {
                    font-size: $text-fa-m;
                }
            }
        }

        .layotter-modal-load-layout-info {
            opacity: 0.5;
        }
    }
}


/****************************************************/
/* modals: ACF customization */

#layotter-edit {
    > .acf-error-message:first-child { // form validation error
        position: absolute;
        top: 18px;
        right: 18px;
        z-index: 1;
    }

    .acf-tab-group {
        padding-left: 12px;
    }
}


/****************************************************/
/* settings */

.layotter-settings-paragraph {
    max-width: 640px;

    &.layotter-with-icon {
        padding-left: 26px;
        position: relative;

        i.fa {
            position: absolute;
            top: 3px;
            left: 0;
            width: 22px;
            text-align: center;
            display: block;
            font-size: $text-fa-m;
        }
    }
}

.layotter-settings-checkboxes {
    margin-bottom: 32px;
    margin-top: 12px;

    p {
     margin: 0 0 4px;
    }
}

#layotter-default-row-layout {
    min-width: 220px;
}

.layotter-default-value {
    cursor: pointer;
}

.layotter-row-layout-option {
    opacity: 0.3;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 46px;
}

input:checked ~ .layotter-row-layout-option {
    opacity: 1;
}

.layotter-default-row-layout-message {
    display: none;
    opacity: 0.6;
}


/****************************************************/
/* lightbox aka dennisbox */

#dennisbox,
#dennisbox-modal {
    z-index: 999990;

    .dennisbox-overlay {
        cursor: pointer;
        position: fixed;
        z-index: 999991;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.8);
    }

    .dennisbox-content {
        position: absolute;
        z-index: 999992;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: white;
        border: 5px solid #000;

        &.dennisbox-loading {
            background: #fff url(../images/loading.gif) center no-repeat;
        }
    }
}

#dennisbox-modal {
    .dennisbox-overlay {
        z-index: 999993;
    }

    .dennisbox-content {
        z-index: 999994;
    }
}


/****************************************************/
/* Wordpress style red button */

.wp-core-ui .button-danger {
    background-color: #BC2929;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C5292E), to(#BC2929));
    background-image: -webkit-linear-gradient(top, #C5292E, #BC2929);
    background-image: -moz-linear-gradient(top, #C5292E, #BC2929);
    background-image: -ms-linear-gradient(top, #C5292E, #BC2929);
    background-image: -o-linear-gradient(top, #C5292E, #BC2929);
    background-image: linear-gradient(to bottom, #C5292E, #BC2929);
    border-color: #BC2929;
    border-bottom-color: #8D1F21;
    -webkit-box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
    box-shadow: inset 0 1px 0 rgba(230,120,120,0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-danger.hover,
.wp-core-ui .button-danger:hover,
.wp-core-ui .button-danger.focus,
.wp-core-ui .button-danger:focus {
    background-color: #CE2B2B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E03131), to(#BC2929));
    background-image: -webkit-linear-gradient(top, #E03131, #BC2929);
    background-image: -moz-linear-gradient(top, #E03131, #BC2929);
    background-image: -ms-linear-gradient(top, #E03131, #BC2929);
    background-image: -o-linear-gradient(top, #E03131, #BC2929);
    background-image: linear-gradient(to bottom, #E03131, #BC2929);
    border-color: #7F1C1F;
    -webkit-box-shadow: inset 0 1px 0 rgba(230,120,120,0.6);
    box-shadow: inset 0 1px 0 rgba(230,120,120,0.6);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

.wp-core-ui .button-danger.focus,
.wp-core-ui .button-danger:focus {
    border-color: #500F0E;
    -webkit-box-shadow: inset 0 1px 0 rgba(230,120,120,0.6), 1px 1px 2px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(230,120,120,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.wp-core-ui .button-danger.active,
.wp-core-ui .button-danger.active:hover,
.wp-core-ui .button-danger.active:focus,
.wp-core-ui .button-danger:active {
    background: #7F1C1F;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BC2929), to(#CE2B2B));
    background-image: -webkit-linear-gradient(top, #BC2929, #CE2B2B);
    background-image: -moz-linear-gradient(top, #BC2929, #CE2B2B);
    background-image: -ms-linear-gradient(top, #BC2929, #CE2B2B);
    background-image: -o-linear-gradient(top, #BC2929, #CE2B2B);
    background-image: linear-gradient(to bottom, #BC2929, #CE2B2B);
    border-color: #601312 #AE2426 #AE2426 #AE2426;
    color: rgba(255,255,255,0.95);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-danger[disabled],
.wp-core-ui .button-danger:disabled,
.wp-core-ui .button-danger-disabled {
    color: #E79496 !important;
    background: #BA292B !important;
    border-color: #7F1C1F !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
    cursor: default;
}