.lo-row {
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;

    @media only screen and (max-width: 700px) {
        margin-bottom: 0;
    }

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    .lo-col-size1of12 {
        width: 8.33333%;
    }

    .lo-col-size2of12 {
        width: 16.66666%;
    }

    .lo-col-size3of12 {
        width: 25%;
    }

    .lo-col-size4of12 {
        width: 33.33333%;
    }

    .lo-col-size5of12 {
        width: 41.66666%;
    }

    .lo-col-size6of12 {
        width: 50%;
    }

    .lo-col-size7of12 {
        width: 58.33333%;
    }

    .lo-col-size8of12 {
        width: 66.66666%;
    }

    .lo-col-size9of12 {
        width: 75%;
    }

    .lo-col-size10of12 {
        width: 83.33333%;
    }

    .lo-col-size11of12 {
        width: 91.66666%;
    }

    .lo-col-size12of12 {
        width: 100%;
    }

    .lo-col-size1of12,
    .lo-col-size2of12,
    .lo-col-size3of12,
    .lo-col-size4of12,
    .lo-col-size5of12,
    .lo-col-size6of12,
    .lo-col-size7of12,
    .lo-col-size8of12,
    .lo-col-size9of12,
    .lo-col-size10of12,
    .lo-col-size11of12,
    .lo-col-size11of12 {
        box-sizing: border-box;
        padding: 0 10px;
        float: left;
        min-height: 1px;

        @media only screen and (max-width: 700px) {
            float: none;
            min-height: 0;
            width: auto;
            margin-bottom: 20px;
        }
    }
}